@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
@media all{     
  body {  
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    color:#808285;
    background:#fff;
    line-height:1.85714285714286;
  }  
}  
  body {  
    font-family:'Open Sans',sans-serif;
    font-weight:400;
    font-size:100%;
    line-height:var(--ast-body-line-height,1.65em);
    color:var(--ast-global-color-3);
    background-image:none;
  }  
@media all{ 
  * { 
    box-sizing: inherit;
  } 

  body { 
    border: 0; 
    font-size: 100%; 
    font-style: inherit; 
    font-weight: inherit; 
    margin: 0; 
    outline: 0; 
    padding: 0; 
    vertical-align: baseline;
  } 

  body { 
    margin: 0;
  } 

  body { 
    color: #808285; 
    background: #fff; 
    font-style: normal;
  } 

  body { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
  } 

  body { 
    line-height: 1.85714285714286;
  } 

  body { 
    background-color: #fff;
  } 

  body { 
    overflow-x: hidden;
  } 
}     

body { 
    font-family: 'Open Sans',sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: var(--ast-body-line-height,1.65em);
} 

body { 
    color: var(--ast-global-color-3);
} 

body { 
    --wp--preset--color--ast-global-color-0: var(--ast-global-color-0); 
    --wp--preset--color--ast-global-color-1: var(--ast-global-color-1); 
    --wp--preset--color--ast-global-color-2: var(--ast-global-color-2); 
    --wp--preset--color--ast-global-color-3: var(--ast-global-color-3); 
    --wp--preset--color--ast-global-color-4: var(--ast-global-color-4); 
    --wp--preset--color--ast-global-color-5: var(--ast-global-color-5); 
    --wp--preset--color--ast-global-color-6: var(--ast-global-color-6); 
    --wp--preset--color--ast-global-color-7: var(--ast-global-color-7); 
    --wp--preset--color--ast-global-color-8: var(--ast-global-color-8); 
} 

body { 
    margin: 0; 
    --wp--style--global--content-size: var(--wp--custom--ast-content-width-size); 
    --wp--style--global--wide-size: var(--wp--custom--ast-wide-width-size);
} 

body { 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

@media all{ 
  body:not(.logged-in) { 
    position: relative;
  } 

  html { 
    border: 0; 
    font-size: 100%; 
    font-style: inherit; 
    font-weight: inherit; 
    margin: 0; 
    outline: 0; 
    padding: 0; 
    vertical-align: baseline;
  } 

  html { 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
  } 

  html { 
    box-sizing: border-box;
  } 
}     

html { 
    font-size: 100%;
} 

:root { 
    --ast-global-color-0: #0067FF; 
    --ast-global-color-1: #005EE9; 
    --ast-global-color-2: #0F172A; 
    --ast-global-color-3: #364151; 
    --ast-global-color-4: #E7F6FF; 
    --ast-global-color-5: #FFFFFF; 
    --ast-global-color-6: #D1DAE5; 
    --ast-global-color-7: #070614; 
    --ast-global-color-8: #222222;
} 

:root { 
    --ast-border-color: #dddddd;
} 

:root { 
    --e-global-color-astglobalcolor4: #E7F6FF; 
} 

:root { 
    --wh-primary-500: hsl(161, 100%, 35%); 
    --wh-secondary-50: hsl(218, 22%, 30%); 
    --wh-secondary-100: hsl(218, 22%, 27%); 
    --wh-secondary-200: hsl(218, 22%, 25%); 
    --wh-secondary-300: hsl(218, 22%, 22%); 
    --wh-secondary-400: hsl(218, 22%, 20%); 
    --wh-secondary-500: hsl(218, 22%, 18%); 
    --wh-secondary-600: hsl(218, 22%, 16%); 
    --wh-secondary-700: hsl(218, 22%, 14%); 
    --wh-secondary-800: hsl(218, 22%, 12%); 
    --wh-secondary-900: hsl(218, 22%, 8%); 
    --wh-red-600: #dc2626; 
    --wh-red-700: #b91c1c; 
    --wh-primary-color: var(--wh-primary-500); 
    --wh-font-family: 'Inter', 'SF Pro Display', -apple-system, BlinkMacSystemFont,  'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; 
    --font-family: var(--wh-font-family); 
    --wh-danger-color: var(--wh-red-600); 
    --wh-danger-color-hover: var(--wh-red-700); 
    --wh-bg-base: var(--wh-secondary-600); 
    --wh-bg-base-hover: var(--wh-secondary-500); 
    --wh-border-base: var(--wh-secondary-200); 
    --wh-border-base-hover: var(--wh-secondary-100); 
    --wh-border-base-strong: var(--wh-secondary-100); 
    --wh-border-base-strong-hover: var(--wh-secondary-50); 
    --wh-bg-base-hover-strong: var(--wh-secondary-300); 
    --wh-bg-back: var(--wh-secondary-700); 
    --wh-bg-back-strong: var(--wh-secondary-800); 
    --wh-bg-back-strong-hover: var(--wh-secondary-900); 
    --wh-bg-back-hover: var(--wh-secondary-600); 
    --wh-bg-back-hover-strong: var(--wh-secondary-800); 
    --wh-border-back: var(--wh-secondary-100); 
    --wh-border-back-strong: var(--wh-secondary-50); 
    --wh-bg-front: var(--wh-secondary-400); 
    --wh-bg-front-strong: var(--wh-secondary-200); 
    --wh-bg-front-strong-hover: var(--wh-secondary-100); 
    --wh-bg-front-hover: var(--wh-secondary-300); 
    --wh-bg-front-hover-strong: var(--wh-secondary-200); 
    --wh-text-strong: rgba(255, 255, 255, 0.9); 
    --wh-text-hover: var(--wh-text-strong); 
    --wh-bg-tags: var(--wh-secondary-300); 
    --wh-bg-tags-hover: var(--wh-secondary-200); 
    --wh-fallback-img-color: var(--wh-secondary-600); 
    --wh-shadow-primary: var(--wh-primary-500) 0px 0px 0px 1px inset,      var(--wh-primary-500) 0px 0px 1px;
} 

@media all{ 
  .main-header-bar { 
    background-color: #fff; 
    border-bottom-color: var(--ast-border-color); 
    border-bottom-style: solid;
  } 

  .main-header-bar { 
    margin-left: auto; 
    margin-right: auto;
  } 

  .main-header-bar { 
    z-index: 4; 
    position: relative;
  } 
}     

@media (min-width: 922px){ 
  .main-header-bar { 
    border-bottom-width: 1px;
  } 

  .ast-primary-header-bar { 
    border-bottom-width: 1px; 
    border-bottom-color: #eaeaea; 
    border-bottom-style: solid;
  } 
}     

.ast-primary-header-bar { 
    background-color: #ffffff; 
    background-image: none;
} 

.ast-primary-header-bar { 
    display: block;
} 

@media (min-width: 921px){ 
  .main-header-bar  { 
    background: none;
  } 
}     

[class*="-header-wrap"]:nth-last-child(2) > [class*="-header-bar"]  { 
    border-bottom-width: 0px; 
    border-bottom-style: solid;
} 

@media all{ 
  *,:after,:before { 
    box-sizing: inherit;
  } 

  :selection { 
    color: #fff; 
    background: #0274be;
  } 
}     

:selection { 
    background-color: var(--ast-global-color-0); 
    color: #ffffff;
} 

@media all{ 
  .ast-container { 
    max-width: 100%;
  } 

  .ast-container { 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 20px; 
    padding-right: 20px;
  } 

  .ast-builder-grid-row-container { 
    display: grid; 
    align-content: center;
  } 
}     

@media (min-width: 544px){ 
  .ast-container { 
    max-width: 100%;
  } 
}     

@media (min-width: 922px){ 
  .ast-container { 
    max-width: 1240px;
  } 
}     

.site-primary-header-wrap  { 
    min-height: 92px;
} 

@media all{ 
  .ast-builder-grid-row { 
    display: grid; 
    grid-template-columns: auto auto; 
    align-items: center; 
    grid-column-gap: 20px; 
    overflow-wrap: anywhere;
  } 

  .site-header-section { 
    height: 100%; 
    min-height: 0; 
    align-items: center;
  } 

  .ast-flex { 
    -js-display: flex; 
    display: flex; 
    flex-wrap: wrap;
  } 

  .ast-builder-grid-row > .site-header-section  { 
    flex-wrap: nowrap;
  } 

  .ast-grid-right-section { 
    justify-content: flex-end;
  } 

  .ast-builder-layout-element { 
    align-items: center;
  } 

  .site-header-section > *  { 
    padding: 0 10px;
  } 
}     

.ast-builder-layout-element[data-section="title_tagline"] { 
    display: flex;
} 

@media all{ 
  .site-header-section > div:first-child  { 
    padding-left: 0;
  } 

  .site-header-section > div:last-child  { 
    padding-right: 0;
  } 
}     

.ast-builder-layout-element[data-section="section-hb-social-icons-1"] { 
    display: flex;
} 

.ast-builder-menu-1 { 
    font-family: inherit; 
    font-weight: 500;
} 

.ast-builder-menu-1 { 
    display: flex;
} 

@media all{ 
  .site-header-section .ast-builder-menu  { 
    align-items: center;
  } 

  .site-branding { 
    line-height: 1; 
    align-self: center;
  } 

  .ast-site-identity { 
    padding: 1em 0;
  } 

  .ast-site-identity  { 
    padding: 1em 0; 
    -js-display: inline-flex; 
    display: inline-flex; 
    vertical-align: middle; 
    align-items: center; 
    transition: all .2s linear;
  } 

  .ast-main-header-bar-alignment  { 
    margin-left: auto;
  } 

  .site-header-section .ast-main-header-bar-alignment  { 
    height: 100%;
  } 
}     

.site-logo-img  { 
    padding-right: 1em;
} 

@media all{ 
  .main-header-bar-navigation  { 
    height: 100%;
  } 

  a { 
    background-color: transparent;
  } 

  a { 
    color: #4169e1;
  } 

  a { 
    text-decoration: none;
  } 

  a { 
    transition: all .2s linear;
  } 
}     

a { 
    color: var(--ast-global-color-2);
} 

a:where(:not(.wp-element-button)) { 
    text-decoration: none;
} 

@media all{ 
  a,a:visited { 
    text-decoration: none;
  } 

  a,a:hover,a:visited { 
    text-decoration: none;
  } 

  a:hover { 
    color: #191970;
  } 

  a:hover { 
    outline: 0;
  } 
}     

a:hover { 
    color: var(--ast-global-color-1);
} 

@media all{ 
  .ast-builder-social-element { 
    line-height: 1; 
    color: #3a3a3a; 
    background: 0 0; 
    vertical-align: middle; 
    transition: all 10ms; 
    margin-left: 6px; 
    margin-right: 6px; 
    justify-content: center; 
    align-items: center;
  } 

  .ast-inline-flex { 
    -js-display: inline-flex; 
    display: inline-flex; 
    align-items: center; 
    flex-wrap: wrap; 
    align-content: center;
  } 
}     

.ast-builder-social-element { 
    line-height: 1; 
    color: #3a3a3a; 
    background: transparent; 
    vertical-align: middle; 
    transition: all 0.01s; 
    margin-left: 6px; 
    margin-right: 6px; 
    justify-content: center; 
    align-items: center;
} 

.ast-header-social-wrap .ast-builder-social-element:first-child  { 
    margin-left: 0;
} 

@media all{ 
  .ast-builder-social-element:hover { 
    color: #0274be;
  } 
}     

.ast-header-social-wrap .ast-builder-social-element:last-child  { 
    margin-right: 0;
} 

@media all{ 
  nav { 
    display: block;
  } 

  .site-navigation { 
    height: 100%;
  } 

  .ast-flex-grow-1 { 
    flex-grow: 1;
  } 

  img { 
    border: 0;
  } 

  img { 
    height: auto; 
    max-width: 100%;
  } 

  img { 
    vertical-align: middle;
  } 

  a *  { 
    transition: all .2s linear;
  } 
}     

.site-logo-img img  { 
    transition: all 0.2s linear;
} 

.custom-logo-link img  { 
    max-width: 160px;
} 

@media all{ 
  .ahfb-svg-iconset { 
    -js-display: inline-flex; 
    display: inline-flex; 
    align-self: center;
  } 

  .main-navigation { 
    height: 100%; 
    -js-display: inline-flex; 
    display: inline-flex;
  } 

  .ast-builder-menu .main-navigation  { 
    padding: 0;
  } 

  svg:not(:root) { 
    overflow: hidden;
  } 

  .ahfb-svg-iconset svg  { 
    width: 17px; 
    height: 17px; 
    transition: none;
  } 
}     

.ast-header-social-1-wrap .ast-builder-social-element svg  { 
    width: 18px; 
    height: 18px;
} 

@media all{ 
  ul { 
    border: 0; 
    font-size: 100%; 
    font-style: inherit; 
    font-weight: inherit; 
    margin: 0; 
    outline: 0; 
    padding: 0; 
    vertical-align: baseline;
  } 

  ul { 
    margin: 0 0 1.5em 3em;
  } 

  ul { 
    list-style: disc;
  } 

  .main-navigation ul  { 
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
    position: relative;
  } 

  .ast-builder-menu .main-navigation > ul  { 
    align-self: center;
  } 
}     

.ast-builder-menu .main-header-menu  { 
    color: var(--ast-global-color-2);
} 

@media all{ 
  li { 
    border: 0; 
    font-size: 100%; 
    font-style: inherit; 
    font-weight: inherit; 
    margin: 0; 
    outline: 0; 
    padding: 0; 
    vertical-align: baseline;
  } 

  .main-header-menu .menu-item  { 
    position: relative;
  } 
}     

.main-header-menu .menu-item  { 
    -js-display: flex; 
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -moz-box-orient: vertical; 
    -moz-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column;
} 

.ast-primary-header-bar .main-header-menu > .menu-item  { 
    line-height: 92px;
} 

@media all{ 
  .main-header-menu .menu-link  { 
    text-decoration: none; 
    padding: 0 1em; 
    display: inline-block; 
    transition: all .2s linear;
  } 
}     

.ast-builder-menu-1 .menu-item > .menu-link  { 
    padding-left: 24px; 
    padding-right: 24px;
} 

.main-header-menu > .menu-item > .menu-link  { 
    height: 100%; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -moz-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -js-display: flex; 
    display: flex;
} 

@media (min-width: 922px){ 
  .ast-builder-menu .main-navigation > ul > li:last-child a  { 
    margin-right: 0;
  } 
}     

.ast-builder-menu .main-header-menu .menu-link ,[class*="ast-builder-menu-"] .main-header-menu .menu-item > .menu-link ,.main-header-menu .menu-link  { 
    color: var(--ast-global-color-2);
} 

.ast-theme-transparent-header .ast-builder-menu .main-header-menu .menu-item:hover > .menu-link, .ast-theme-transparent-header .main-header-menu .menu-item:hover > .menu-link { 
    color: var(--ast-global-color-1);
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-JVdHf.style-JVdHf {  
   --color: #557dbc;  
    --background-color: transparent;  
}  
#style-LiCsB.style-LiCsB {  
   --color: #7acdee;  
    --background-color: transparent;  
}  
#style-crA5i.style-crA5i {  
   --color: #8a3ab9;  
    --background-color: transparent;  
}  
#style-ILl5Y.style-ILl5Y {  
   --color: #1c86c6;  
    --background-color: transparent;  
}  
